<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708364724734-ealuvsn9lochp0mg2im2q5uqu5hedjpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708364724734-ealuvsn9lochp0mg2im2q5uqu5hedjpd</string>
	<key>API_KEY</key>
	<string>AIzaSyBChdAViwKqctV8Aa1jUNaRfzemdSkshQc</string>
	<key>GCM_SENDER_ID</key>
	<string>708364724734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gogoslab.moobeez</string>
	<key>PROJECT_ID</key>
	<string>moobeez-8a087</string>
	<key>STORAGE_BUCKET</key>
	<string>moobeez-8a087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708364724734:ios:3a5bd91844df5bfe69b8af</string>
</dict>
</plist>